{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


<div class="row">
    <div class="col-md-6 about-app">
        <div class="app-title">
            Birthday<br>
            Calendar
        </div>
        <div id="login-button">
            <a href="https://drchrono.com/o/authorize/?redirect_uri={{redirect_url}}&response_type=code&client_id={{client_id}}&scope=patients:read%20user:read">
                <button class="login-button" type="button" name="button">
                    <i class="fa fa-sign-in fa-lg"></i> Login with drchrono
                </button>
            </a>
        </div>
        <!--<p>-->
            <!--Wouldn't it be great if there was a way to show your patients how much you-->
            <!--appreciated them? To show just how much you care, on one of their-->
            <!--happiest days of the year?<br>-->
        <!--</p>-->

        <!--<p>-->
            <!--Well now you can with the-->
            <!--<span class="app-color bold">drchrono Birthdays</span> app.-->
            <!--Automatically send your patients an email wishing them a happy, healthy-->
            <!--birthday!-->
        <!--</p>-->
    </div>
    <div class="col-md-6 about-app">
        <p>
            Introducing the Birthday Calendar app for DrChrono users. This app lets you manage a calendar for
            wishing your patients on their birthdays. It lets you do the following:
        </p>

        <ul>
            <li>Import relevant patient information straight from your drchrono account</li>
            <li>Send emails to patients on their birthdays at the click of a button</li>
            <li>Customize the template for wishing your patients</li>
        </ul>
    </div>
</div>

{% endblock %}